<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/Fragment/layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #noType{
        display: none;
    }
</style>
<body>
<header th:replace="~{admin/Fragment/layout :: header}"></header>
<aside th:replace="~{admin/Fragment/layout :: sidebar}"></aside>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Product Manager</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Product</li>
                <li class="breadcrumb-item active">Addon Product</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <form id="form"  method="post" enctype="multipart/form-data" th:object="${product}">
            <input type="hidden" th:field="*{productId}">
            <div class="row d-flex justify-content-center" >
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Basic Information</h5>
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label for="productName" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" id="productName" th:field="*{productName}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label for="productShortDes" class="form-label">Product Short Des</label>
                                    <textarea class="form-control" id="productShortDes" th:field="*{productShortDes}"></textarea><!-- End TinyMCE Editor -->
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label for="productDes" class="form-label">Product Des</label>
                                    <textarea class="tinymce-editor" id="productDes" th:field="*{productDescription}"></textarea><!-- End TinyMCE Editor -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Social Media(the first picture is a thumbnail)</h5>
                            <div class="row mb-3 mt-3">
                                <div class="">
                                    <div class="upload-image">
                                        <div class="preview_image">
                                            <div id="images"></div>
                                        </div>
                                        <div class="input-file">
                                            <input type="file" id="select-image" name="files" multiple>
                                            <label for="select-image" >
                                                <?xml version="1.0" ?><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                        d="M1344 1472q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 40-59 40h-256v448q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-448h-256q-42 0-59-40-17-39 14-69l448-448q18-19 45-19t45 19l448 448q31 30 14 69z" />
                                            </svg>
                                                Choose Images
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <h5 class="card-title w-100" >Type</h5>
                                <div class="d-flex" style="width: 10%">
                                    <span class="m-auto add-type" onclick="removeAs()"><i class="bi bi-trash-fill"></i></span>
                                    <span class="m-auto add-type" onclick="addType()"><i class="bi bi-plus-circle-fill"></i></span>
                                </div>

                            </div>
                            <div>
                                <div class="overflow-x-auto d-flex flex-column justify-content-start">
                                    <div class="d-flex flex-row">
                                        <div class="col-lg-1 text-center m-auto">
                                            <input type="checkbox" class="checkbox-type" id="removeAll">
                                        </div>
                                        <div class="col-lg-3 m-2">
                                            <span class="form-label">Size</span>
                                        </div>
                                        <div class="col-lg-3 m-2">
                                            <span  class="form-label">Color</span>
                                        </div>
                                        <div class="col-lg-3 m-2">
                                            <span  class="form-label">Price</span>
                                        </div>
                                        <div class="col-lg-3 m-2">
                                            <span  class="form-label">Price Sale</span>
                                        </div>
                                        <div class="col-lg-3 m-2">
                                            <span class="form-label">Quantity Inventory</span>
                                        </div>
                                        <div class="col-lg-3 m-2">
                                            <span  class="form-label">Quantity Solid</span>
                                        </div>
                                    </div>
                                    <div id="typeProduct">
                                        <div class="type-item d-flex flex-row type-product">
                                            <div class="col-lg-1 text-center m-auto">
                                                <input type="checkbox" class="checkbox-type item-type"  onclick="checkboxChild()">
                                            </div>
                                            <div class="col-lg-3 m-2">
                                                <input type="text" class="form-control" id="size" min="0" name="tSize">
                                            </div>
                                            <div class="col-lg-3 m-2">
                                                <input type="text" class="form-control" id="color" min="0" name="tColor">
                                            </div>
                                            <div class="col-lg-3 m-2">
                                                <input type="number" class="form-control" id="price" min="0" name="tPrice" value="0">
                                            </div>
                                            <div class="col-lg-3 m-2">
                                                <input type="number" class="form-control" id="sale" min="0" name="tSale" value="0">
                                            </div>
                                            <div class="col-lg-3 m-2">
                                                <input type="number" class="form-control" id="inventory" min="0" name="tInventory" value="0">
                                            </div>
                                            <div class="col-lg-3 m-2">
                                                <input type="number" class="form-control" id="Solid" min="0" name="tSolid" value="0">
                                            </div>
                                            <div class="col-lg-1 m-auto text-center">
                                                <span id="removeType" class="remove-item-type" onclick="removeItemType(this)"  data-index = "0"><i class="bi bi-trash-fill"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Product Status</h5>
                            <div class="row mb-3 mt-3">
                                <div class="col-lg-12">
                                    <select class="form-select" aria-label="Default select example" id="inputStatus" th:field="*{status}">
                                        <option value="1">Activity</option>
                                        <option value="2">Disable</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Category</h5>
                            <div class="row mb-3 mt-3">
                                <div class="col-lg-12">
                                    <select class="form-select" aria-label="Default select example" id="inputCategory" th:field="*{category}">
                                        <th:block th:each="categories : ${listCategory}">
                                            <option th:value="${categories.getCategoryId()}" th:text="${categories.getCategoryName()}">Category Name</option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Brand</h5>
                            <div class="row mb-3 mt-3">
                                <div class="col-lg-12">
                                    <select class="form-select" aria-label="Default select example" id="inputBrand" th:field="*{brand}">
                                        <th:block th:each="brand : ${listBrand}">
                                            <option th:value="${brand.getBrandId()}" th:text="${brand.getBrandName()}">Brand Name</option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Collection</h5>-->
<!--                            <div class="row mb-3 mt-3">-->
<!--                                <div class="col-lg-12">-->
<!--                                    <select class="form-select" aria-label="Default select example" id="inputCollection">-->
<!--                                        <option value="1">True</option>-->
<!--                                        <option value="2">False</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="card" id="noType">
                        <div class="card-body">
                            <input type="hidden" id="noTypeItem" th:field="*{noTypeStatus}" th:value="0">
                            <h5 class="card-title">Valuation</h5>
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <label for="productPrice" class="form-label">Price</label>
                                    <div class="col-lg-12 input-group mb-3">
                                        <input class="form-control" type="number" id="productPrice" th:field="*{productPrice}" >
                                        <span class="input-group-text">₫</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="productSale1" class="form-label">Sale</label>
                                    <div class="col-lg-12 input-group mb-3">
                                        <input class="form-control" type="number" id="productSale1" th:field="*{productPriceSale}">
                                        <span class="input-group-text">₫</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="quantityInventory" class="form-label">Quantity Inventory</label>
                                    <div class="col-lg-12 input-group mb-3">
                                        <input class="form-control" type="number" id="quantityInventory" th:field="*{quantityInventory}">
                                        <span class="input-group-text">₫</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="quantitySolid" class="form-label">Quantity Solid</label>
                                    <div class="col-lg-12 input-group mb-3">
                                        <input class="form-control" type="number" id="quantitySolid" th:field="*{quantitySolid}" >
                                        <span class="input-group-text">₫</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row border-top" >
                <div class="col-lg-12">
                    <div class="row mb-3 mt-3">
                        <div class="col-lg-10">
                            <div id="actionName" style="text-align: end" >
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </form><!-- End General Form Elements -->
    </section>

</main><!-- End #main -->
<div th:replace="~{admin/Fragment/layout :: loading}"></div>
<footer th:replace="~{admin/Fragment/layout :: footer}"></footer>
<div th:replace="~{admin/Fragment/layout :: js}"></div>


<script>
    var flag = true;
    var index = 1;
    document.getElementById("noTypeItem").value = 0;
    document.getElementById('removeAll').onclick = function (){
        const itemType = document.getElementsByClassName("checkbox-type");
        for(const item of itemType){
            item.checked = !!this.checked;
        }
    };
    function setup() {
        const listChild = document.getElementsByClassName("remove-item-type");
        if(listChild.length === 0){
            index = 0;

        }

        let cur = 0;
        for(const child of listChild){
            child.setAttribute("data-index",cur);
            cur++;
        }
        document.getElementById('removeAll').checked = false;
        const rootType = document.getElementById("typeProduct");
        if(rootType.children.length === 0 ){
            document.getElementById("noTypeItem").value = 1;
            document.getElementById("noType").style.display = "block";
        }else{
            document.getElementById("noType").style.display = "none";
            document.getElementById("noTypeItem").value = 0;
        }
    }


    function addType() {
        const rootType = document.getElementById("typeProduct");
        const node = '<div class="type-item d-flex flex-row">'+
            '<div class="col-lg-1 text-center m-auto">'+
            '<input type="checkbox" class="checkbox-type"  onclick="checkboxChild()">'+
            '</div>'+
            '<div class="col-lg-3 m-2">'+
            '<input type="text" class="form-control" id="size" name="tSize">'+
            '</div>'+
            '<div class="col-lg-3 m-2">'+
            '<input type="text" class="form-control" id="color" name="tColor">'+
            '</div>'+
            '<div class="col-lg-3 m-2">'+
            '<input type="number" class="form-control" id="price" name="tPrice" value="0">'+
            '</div>'+
            '<div class="col-lg-3 m-2">'+
            '<input type="number" class="form-control" id="sale" name="tSale" value="0">'+
            '</div>'+
            '<div class="col-lg-3 m-2">'+
            '<input type="number" class="form-control" id="inventory" name="tInventory" value="0">'+
            '</div>'+
            '<div class="col-lg-3 m-2">'+
            '<input type="number" class="form-control" id="Solid" name="tSolid" value="0">'+
            '</div>'+
            '<div class="col-lg-1 m-auto text-center">'+
            '<span id="removeType" class="remove-item-type" onclick="removeItemType(this)"  data-index ="'+ index+'"><i class="bi bi-trash-fill"></i></span>'+
            '</div>'+
            '</div>'
        rootType.insertAdjacentHTML('beforeend',node);
        index++;
        document.getElementById("noType").style.display = "none";
        document.getElementById("noTypeItem").value = 0;
    };
    function removeItemType(curr){
        const listItemType =document.getElementById("typeProduct");
        const index1 = curr.getAttribute("data-index");
        if (listItemType.hasChildNodes()) {
            listItemType.removeChild(listItemType.children[index1]);
        }
        setup();
    };
    function checkboxChild() {
        const rootCheckbox = document.getElementById("removeAll");
        const itemCheckbox = document.getElementById("typeProduct");
        for(var i = 0; i < itemCheckbox.children.length;i++){
            if(itemCheckbox.children[i].children[0].children[0].checked === false){
                rootCheckbox.checked = false;
                flag = false;
                break;
            }
        }
        if(flag){
            rootCheckbox.checked = true;
        }else{
            flag = true;
        }
    }

    function removeAs () {
        const listItemType =document.getElementById("typeProduct");
        for(var i = 0; i < listItemType.children.length;){
            if(listItemType.children[i].children[0].children[0].checked === true){
                if (listItemType.hasChildNodes()) {
                    listItemType.removeChild(listItemType.children[i]);
                    continue;
                }
            }
            i++;
        }
        setup();
    }


</script>

<script>
    const fileInput = document.getElementById('select-image');
    const images = document.getElementById('images');

    // Listen to the change event on the <input> element
    fileInput.addEventListener('change', (event) => {
        const imageFiles = event.target.files;

        if (imageFiles.length > 0) {
            let index = 0;
            for (const imageFile of imageFiles) {
                const reader = new FileReader();

                reader.readAsDataURL(imageFile);
                reader.addEventListener('load', () => {
                    // Create new <img> element and add it to the DOM
                    images.innerHTML += `
                <div class="image_box">
                    <span class="toggle-remove-image" data-index = "${index}" onclick="remove(this)"  data-name = "${imageFile.name}"><i class="bi bi-x-circle-fill"></i></span>
                    <div class="img-pre">
                        <img src='${reader.result}'>
                    </div>
                </div>
            `;
                    index++;
                });
            }
        } else {
            images.innerHTML = '';
        }
    });
</script>

<script>
    function  remove(curr) {
        const index =  curr.getAttribute("data-index");
        const name =  curr.getAttribute("data-name");

        const dt = new DataTransfer()
        const input = document.getElementById('select-image')
        for (let i = 0; i < input.files.length; i++) {
            const file = input.files[i]
            if (file.name === name){
                continue;
            }
            dt.items.add(file) // here you exclude the file. thus removing it.
        }
        input.files = dt.files;
        const listPreview = document.getElementById("images");
        if (listPreview.hasChildNodes()) {
            listPreview.removeChild(listPreview.children[index]);
        }
        if(input.files.length > 0){
            const listChild = document.getElementsByClassName("toggle-remove-image");
            let cur = 0;
            for(const child of listChild){
                child.setAttribute("data-index",cur);
                cur++;
            }
        }
    };
</script>

<script>
    $("#form").submit(function(e) {
        document.getElementById("loading-wrapper").style.display = "block";
        tinyMCE.triggerSave();

        e.preventDefault(); // avoid to execute the actual submit of the form.
        var form = new FormData(this);

        $.ajax({
            enctype: 'multipart/form-data',
            type: "POST",
            url: "http://localhost:8060/api/v1/private/addon/product",
            data: form, // serializes the form's elements.
            processData: false,
            contentType: false,
            success: function(data)
            {
                document.getElementById("loading-wrapper").style.display = "none";
                if(data){
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: true
                    }).then((result) =>{
                        $("#form")[0].reset()
                        const listPreview = document.getElementById("images");
                        while  (listPreview.hasChildNodes()) {
                            listPreview.removeChild(listPreview.firstChild);
                        }
                    })
                }else{
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: data.message,
                        showConfirmButton: true
                    })
                }
            },
            error: function ($xhr,textStatus,errorThrown) {
                document.getElementById("loading-wrapper").style.display = "none";
                var data = $xhr.responseJSON;
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: data.message,
                    showConfirmButton: true
                })

            }
        });
    });
</script>
</body>
</html>