<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/Fragment/layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<header th:replace="~{admin/Fragment/layout :: header}"></header>
<aside th:replace="~{admin/Fragment/layout :: sidebar}"></aside>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Brands Management</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Brands</li>
                <li class="breadcrumb-item active">Management</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Brands</h5>
                        <form id="form" th:action="@{/api/v1/private/addon/brand}" class="row g-3" style="padding: 10px" th:object="${brand}">
                            <input type="hidden" th:field="*{brandId}">
                            <div class="col-md-6">
                                <label for="inputName" class="form-label" >Brand Name</label>
                                <input type="text" class="form-control" id="inputName" th:field="*{brandName}">
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">Status</label>
                                <select id="inputState" class="form-select" th:field="*{status}">
                                    <option selected value="1">Activity</option>
                                    <option value="0">Disable</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="actionName" class="form-label">Action Name</label>
                                <div id="actionName" class="d-flex flex-row justify-content-md-evenly">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </div>
                        </form>
                        <table class="table" id="listBrands">
                            <thead>
                            <tr>
                                <th scope="col" >#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Product Quantity</th>
                                <th scope="col">Update By</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="brands,cout : ${listBrand}">
                                <tr>
                                    <th scope="row" th:text="${cout.index + 1}">1</th>
                                    <td th:text="${brands.getBrandName()}">Brand Name</td>
                                    <th:block th:if="${brands.getStatus() == 1}">
                                        <td>
                                            <span class="status Activity">Activity</span>
                                        </td>
                                    </th:block>
                                    <th:block th:if="${brands.getStatus() == 0}">
                                        <td>
                                            <span class="status Disable">Disable</span>
                                        </td>
                                    </th:block>
                                    <td th:text="${brands.getProducts().size()}">20</td>
                                    <td th:text="${brands.getUserUpdate().getFullName()}">Nguyen Phuoc Thinh</td>
                                    <td >
                                        <div class="d-flex justify-content-evenly">
                                            <a th:href="@{~/admin/update/brand/{id}(id = ${brands.getBrandId()})}"><span style="font-size: 20px;color: #4154f1;"><i class="bi bi-pencil-fill"></i></span></a>
                                            <a th:href="@{'~/' + ${brands.getBrandSlug()}}"><span style="font-size: 20px;color: #2f412e;"><i class="bi bi-eye-fill"></i></span></a>
                                            <span style="font-size: 20px;color: #ff1205;cursor: pointer" ><i class="bi bi-trash-fill"></i></span>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
<div th:replace="~{admin/Fragment/layout :: loading}"></div>
<footer th:replace="~{admin/Fragment/layout :: footer}"></footer>
<div th:replace="~{admin/Fragment/layout :: js}"></div>
<div th:replace="~{admin/Fragment/layout :: jsDataTable}"></div>
<script>
    var dataTable = new DataTable('#listBrands');
    // var dataTable = new DataTable('#listBrands', {paging: false,info: false,});

    $("#form").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.
        document.getElementById("loading-wrapper").style.display = "block";
        var form = $(this);
        $.ajax({
            type: "POST",
            url: form.attr("action"),
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {

                document.getElementById("loading-wrapper").style.display = "none";
                if(data){
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: true
                    }).then((result) =>{
                        updateBrands(data.data);
                        // window.location.reload();
                    })
                }else{
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: data.message,
                        showConfirmButton: true
                    })
                }
            },
            error: function ($xhr,textStatus,errorThrown) {
                document.getElementById("loading-wrapper").style.display = "none";
                var data = $xhr.responseJSON;
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: data.message,
                    showConfirmButton: true
                })

            }
        });

    });
    function updateBrands(dataApi){
        const table =  $('#listBrands').dataTable();
        const index = table.fnGetData().length + 1;
        const result = '<tr class="'+dataApi.trClass+'">' +
            '     <th scope="row" class="sorting_1">'+index+'</th>' +
            '     <td>'+dataApi.name+'</td>' +
            '     <td>' +
            '         <span class="status '+ dataApi.status+'">'+ dataApi.status+'</span>' +
            '     </td>' +
            '     <td>0</td>' +
            '     <td>'+ dataApi.user+'</td>' +
            '     <td>' +
            '     <div class="d-flex justify-content-evenly">\n' +
            '          <a href="/admin/update/brand/'+ dataApi.index+'"><span style="font-size: 20px;color: #4154f1;"><i class="bi bi-pencil-fill"></i></span></a>' +
            '          <a href="/'+ dataApi.slug+'"><span style="font-size: 20px;color: #2f412e;"><i class="bi bi-eye-fill"></i></span></a>' +
            '          <span style="font-size: 20px;color: #ff1205;" onclick="updateCategory()"><i class="bi bi-trash-fill"></i></span>' +
            '      </div>' +
            '      </td>' +
            ' </tr>';
        dataTable.row.add($(result)).draw();
    }
</script>
</body>
</html>