<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home/fragments/layout :: head(${title},'website',${curURL},${curURL},${image},${des},'page')}"></head>


<body>

    <div th:replace="~{home/fragments/layout :: header('')}"></div>

      <!--breadcrumbs area start-->
    <div class="breadcrumbs_area breadcrumbs_other mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content text-center">
                        <ul>
<!--                            <li><a href="index.html">home</a></li>-->
<!--                            <li><a href="#">pages</a></li>-->
                        </ul>
                        <h3>Shopping Cart</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

     <!--shopping cart area start -->
    <div class="shopping_cart_area">
        <div class="container">
            <form action="#" id="cart">
                <div class="cart_page_inner mb-60">
                    <div class="row">
                        <div class="col-12">
                            <div class="cart_page_tabel">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>product </th>
                                            <th>information</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="itemCart">
                                        <th:block th:each="item : ${cart.getCartItems()}">
                                            <tr class="border-top" th:id="${ 'item' + item.getProductDetail().getProductDetailId()}">
                                                <td>
                                                    <div class="cart_product_thumb">
                                                        <img th:src="${item.getThumbnail()}" th:alt="${item.getName()}">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="cart_product_text">
                                                        <h4 th:text="${item.getName()}">Example With Title Product</h4>
                                                        <ul>
                                                            <li><i class="ion-ios-arrow-right"></i> Color : <span th:text="${item.getProductDetail().getColor()}">White</span></li>
                                                            <li><i class="ion-ios-arrow-right"></i> Size : <span th:text="${item.getSize()}">XL</span></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="cart_product_price">
                                                        <th:block th:if="${item.getProductDetail().getSaleStatus() == 1}">
                                                            <div class="price_box">
                                                                <span class="current_price" th:text="${#numbers.formatDecimal(item.getProductDetail().getProductPriceSale(),3,'COMMA',0,'POINT')} + ' VNĐ'">$43.00</span>
                                                                <span class="old_price" th:text="${#numbers.formatDecimal(item.getProductDetail().getProductPrice(),3,'COMMA',0,'POINT')} + ' VNĐ'">$46.00</span>
                                                            </div>
                                                            </th:block>
                                                        <th:block th:if="${item.getProductDetail().getSaleStatus() != 1}">
                                                            <span th:text="${#numbers.formatDecimal(item.getProductDetail().getProductPrice(),3,'COMMA',0,'POINT')} + ' VNĐ'">$46.00</span>
                                                        </th:block>
                                                    </div>
                                                </td>
                                                <td class="product_quantity">
                                                    <input type="hidden" name="detailId" th:value="${item.getProductDetail().getProductDetailId()}">
                                                    <div class="cart_product_quantity">
                                                        <input min="1" max="100" name="quantity" th:value="${item.getQuantity()}" type="number">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="cart_product_price">
                                                        <span class="text-black" th:text="${#numbers.formatDecimal(item.getTotalPriceItem(),3,'COMMA',0,'POINT')} + ' VNĐ'">$45.05</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="cart_product_remove text-right">
                                                        <a th:onclick="removeItem([[${item.getProductDetail().getProductDetailId()}]], this)" ><i class="ion-android-close"></i></a>
                                                    </div>
                                                </td>

                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart_page_button border-top d-flex justify-content-between">
                                <div class="shopping_cart_btn">
                                    <a class="btn btn-primary border" onclick="clearCart()">CLEAR SHOPPING CART</a>
                                    <button class="btn btn-primary border" type="submit" >UPDATE YOUR CART</button>
                                </div>
                                <div class="shopping_continue_btn">
                                    <a th:href="@{/cua-hang}"  class="btn btn-primary" >CONTINUE SHOPPING</a>
                                </div>
                            </div>
                         </div>
                     </div>
                 </div>
                 <!--coupon code area start-->
                <div class="cart_page_bottom">
                    <div class="row flex-row-reverse">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="grand_totall_area">
                               <div class="grand_totall_inner border-bottom">
                                   <div class="cart_subtotal d-flex justify-content-between">
                                       <p>sub total </p>
                                       <span th:text="${cart.getTotalPrice() != null ? #numbers.formatDecimal(cart.getTotalPrice(),3,'COMMA',0,'POINT') : '0'} + ' VNĐ'" id="subTotal">$126.00</span>
                                   </div>
                                   <div class="cart_grandtotal d-flex justify-content-between">
                                       <p>grand total</p>
                                       <span th:text="${ cart.getTotalPrice() != null ? #numbers.formatDecimal(cart.getTotalPrice(),3,'COMMA',0,'POINT') : '0'} + ' VNĐ'" id="grandTotal">$126.00</span>
                                   </div>
                               </div>
                               <div class="proceed_checkout_btn">
                                   <a class="btn btn-primary" th:href="@{/thanh-toan}">Proceed to Checkout</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area end-->
            </form>
        </div>
    </div>
     <!--shopping cart area end -->


     <!--newsletter section start-->
    <section th:replace="~{home/fragments/layout :: newsletter}"></section>
    <!--newsletter section end-->
    <!--footer area start-->
    <footer th:replace="~{home/fragments/layout :: footer}"></footer>
    <!--footer area end-->



<!-- JS
============================================ -->
    <div th:replace="~{home/fragments/layout :: loading}"></div>
    <div th:replace="~{home/fragments/layout :: js}"></div>

    <script>
        function currencyFormat(n, currency) {
            return  n.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',') + currency;
        }
        function clearCart(){
            document.cookie = "cart=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.getElementById("itemCart").innerHTML = '';
        }
        function removeItem(value){
            document.getElementById("loading-wrapper").style.display = "block";
            $.ajax({
                type: "POST",
                url: "/api/v1/cart/remove/"+value,
                success: function(data,obj)
                {
                    document.getElementById("loading-wrapper").style.display = "none";
                    if(data){
                        const item = 'item' + value;
                        document.getElementById("itemCart").removeChild(document.getElementById(item));
                        document.getElementById("subTotal").innerText = currencyFormat(data.data, 'VNĐ')
                        document.getElementById("grandTotal").innerText = currencyFormat(data.data, 'VNĐ')
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: true
                        }).then((result) =>{
                            console.log(data);
                        })
                    }else{
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: data.message,
                            showConfirmButton: true
                        })
                    }
                },
                error: function ($xhr,textStatus,errorThrown) {
                    document.getElementById("loading-wrapper").style.display = "none";
                    let data = $xhr.responseJSON;
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: data.message,
                        showConfirmButton: true
                    })

                }
            });
        }
    </script>

    <script>
        $("#cart").submit(function(e) {
            document.getElementById("loading-wrapper").style.display = "block";
            e.preventDefault(); // avoid to execute the actual submit of the form.
            let form = $(this);
            $.ajax({
                type: "POST",
                url: "/api/v1/cart/updateCart",
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                    document.getElementById("loading-wrapper").style.display = "none";
                    if(data){
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: true
                        }).then((result) =>{
                            console.log(data);
                            // location.reload();
                        })
                    }else{
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: data.message,
                            showConfirmButton: true
                        })
                    }
                },
                error: function ($xhr,textStatus,errorThrown) {
                    document.getElementById("loading-wrapper").style.display = "none";
                    let data = $xhr.responseJSON;
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: data.message,
                        showConfirmButton: true
                    })

                }
            });

        });
    </script>
</body>

</html>
