<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home/fragments/layout :: head(${title},'website',${curURL},${curURL},${image},${des},'page')}"></head>

<body>

<div th:replace="~{home/fragments/layout :: header('')}"></div>

<!--breadcrumbs area start-->
<div class="breadcrumbs_area breadcrumbs_other mt-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content text-center">
                    <ul>
                        <!--                            <li><a href="index.html">home</a></li>-->
                        <!--                            <li><a href="#">pages</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--my account start-->
<div class="my-account-page-warpper">
    <div class="container">
        <div class="checkout_info">
            <h2 class="mt-4">Chi tiết đơn hàng</h2>
            <hr>

            <h3>Thông tin khách hàng</h3>
            <p><strong th:text="${'Tên khách hàng: ' + orderDetail.getFirstName() + ' ' + orderDetail.getLastName()}">Tên khách hàng:</strong></p>
            <p><strong th:text="${'Số điện thoại: '+ orderDetail.getPhoneNumber()}">Số điện thoại</strong></p>
            <p><strong th:text="${'Địa chỉ: '+ orderDetail.getAddress()}">Địa chỉ:</strong></p>
            <p><strong th:text="${'Phương thức thanh toán: '+ orderDetail.getPayment()}">Địa chỉ:</strong></p>

            <h3 class="mt-4">Sản phẩm trong đơn hàng</h3>
            <div class="">
                <div class="container">
                        <div class="cart_page_inner">
                            <div class="row">
                                <div class="col-12">
                                    <div class="cart_page_tabel">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>product </th>
                                                <th>information</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                            </tr>
                                            </thead>
                                            <tbody id="itemCart">
                                            <th:block th:each="item : ${orderDetail.getListProductOrder()}">
                                                <tr class="border-top" >
                                                    <td>
                                                        <div class="cart_product_thumb">
                                                            <img th:src="${item.getProductDetail().getProduct().getProductThumbnail()}" th:alt="${item.getProductDetail().getProduct().getProductName()}">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_product_text">
                                                            <h4 th:text="${item.getProductDetail().getProduct().getProductName()}">Example With Title Product</h4>
                                                            <ul>
                                                                <li><i class="ion-ios-arrow-right"></i> Color : <span th:text="${item.getProductDetail().getColor()}">White</span></li>
                                                                <li><i class="ion-ios-arrow-right"></i> Size : <span th:text="${item.getProductDetail().getSize()}">XL</span></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_product_price">
                                                            <th:block th:if="${item.getProductDetail().getSaleStatus() == 1}">
                                                                <div class="price_box">
                                                                    <span class="current_price" th:text="${#numbers.formatDecimal(item.getProductDetail().getProductPriceSale(),3,'COMMA',0,'POINT')} + ' VNĐ'">$43.00</span>
                                                                    <span class="old_price" th:text="${#numbers.formatDecimal(item.getProductDetail().getProductPrice(),3,'COMMA',0,'POINT')} + ' VNĐ'">$46.00</span>
                                                                </div>
                                                            </th:block>
                                                            <th:block th:if="${item.getProductDetail().getSaleStatus() != 1}">
                                                                <span th:text="${#numbers.formatDecimal(item.getProductDetail().getProductPrice(),3,'COMMA',0,'POINT')} + ' VNĐ'">$46.00</span>
                                                            </th:block>
                                                        </div>
                                                    </td>
                                                    <td class="product_quantity">
                                                        <div class="cart_product_quantity">
                                                            <span th:text="${item.getQuantity()}"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cart_product_price">
                                                            <span class="text-black" th:text="${#numbers.formatDecimal(item.getPrice(),3,'COMMA',0,'POINT')} + ' VNĐ'">$45.05</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--coupon code area start-->
                        <div class="cart_page_bottom">
                            <div class="row flex-row-reverse">
                                <div class="col-lg-4 col-md-6 col-sm-8">
                                    <div class="grand_totall_area">
                                        <div class="grand_totall_inner border-bottom">
                                            <div class="cart_subtotal d-flex justify-content-between">
                                                <p>sub total </p>
                                                <span th:text="${orderDetail.getTotal() != null ? #numbers.formatDecimal(orderDetail.getTotal(),3,'COMMA',0,'POINT') : '0'} + ' VNĐ'" id="subTotal">$126.00</span>
                                            </div>
                                            <div class="cart_grandtotal d-flex justify-content-between">
                                                <p>grand total</p>
                                                <span th:text="${ orderDetail.getTotal()!= null ? #numbers.formatDecimal(orderDetail.getTotal(),3,'COMMA',0,'POINT') : '0'} + ' VNĐ'" id="grandTotal">$126.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--coupon code area end-->

                </div>
            </div>

        </div>

    </div>
</div>
    <!-- My Account Tab Content End -->

<!--newsletter section start-->
<section th:replace="~{home/fragments/layout :: newsletter}"></section>
<!--newsletter section end-->
<!--footer area start-->
<footer th:replace="~{home/fragments/layout :: footer}"></footer>
<!--footer area end-->



<!-- JS
============================================ -->
<div th:replace="~{home/fragments/layout :: js}"></div>
<script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script>


</body>

</html>