<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home/fragments/layout :: head(${title},'website',${curURL},${curURL},${image},${des},'page')}"></head>
</head>

<body>
<div th:replace="~{home/fragments/layout :: header('')}"></div>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area breadcrumbs_blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->


<!--layout payment error start-->

<div class="container mb-140  mt-5 ">
    <div class="collapse show">
        <div class="checkout_info col-lg-4 col-md-7 m-auto shadow-sm" style="background-color: #f8d7da;">
            <div class=" content-modal-box">
                <div class="text-center  ">
                    <svg class="mt-3 errormark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle class="errormark__circle" cx="26" cy="26" r="25" fill="none" />
                        <path class="errormark__error1" fill="none" d="M17,17 L35,35" stroke-width="4" stroke-linecap="square" />
                        <path class="errormark__error2" fill="none" d="M35,17 L17,35"  stroke-width="4" stroke-linecap="square"></path>
                    </svg>
                    <div class="mt-3 lead" style="color: #ff3333;">Payment Error! </div>
                </div>
                <hr>
                <div class="text-start">
                    <p><span>Payments:</span> <span><strong th:text="${order.getPayment()}">ABC Bank</strong></span></p>
                    <p><span>Delivery address:</span> <span><strong th:text="${order.getAddress()}">123456</strong></span></p>
                    <p><span>Phone Number:</span> <span><strong th:text="${order.getPhoneNumber()}">090945174</strong></span></p>
                    <p><span>Total Amount:</span> <span><strong th:text="${ order.getTotal()!= null ? #numbers.formatDecimal(order.getTotal(),3,'COMMA',0,'POINT') : '0'} + ' VNĐ'">$100.00</strong></span> </p>
                </div>

                <hr style="border-top: 1px dashed #ccc;">
                <p class="text-center"><span>Order date:</span> <span>15:30 July 18, 2023</span></p>
                <hr>
                <a th:href="@{/cua-hang}"> <button class="btn btn-dark mx-auto d-block mt-3" type="button">Go
                    back</button></a>

            </div>


        </div>
    </div>
</div>
<!--layout payment error end-->

<!--newsletter section start-->
<section th:replace="~{home/fragments/layout :: newsletter}"></section>
<!--newsletter section end-->

<!--footer area start-->
<footer th:replace="~{home/fragments/layout :: footer}"></footer>
<!--footer area end-->

<!-- JS
============================================ -->

<div th:replace="~{home/fragments/layout :: js}"></div>


</body>

</html>