<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home/fragments/layout :: head('Blog','type','url','site_name','image','description','page')}">
</head>

<body>
<div th:replace="~{home/fragments/layout :: header}"></div>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area breadcrumbs_blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content text-center">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="rss.html">Blog</a></li>
                    </ul>
                    <h3>Write, Share & Discuss <br> Together</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->


<h1>VNExpress RSS Feed</h1>

<ul>
    <li th:each="item : ${items}">
        <h3 th:text="${item.title}"></h3>
        <p><a th:href="${item.link}" th:text="${item.link}"></a></p>
        <p th:text="${item.publishedDate}"></p>
        <img th:if="${item.image != null}" th:src="${item.image}" alt="Image" width="200" height="150"/>
        <hr>
    </li>
</ul>

<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<!--newsletter section start-->
<section th:replace="~{home/fragments/layout :: newsletter}"></section>
<!--newsletter section end-->

<!--footer area start-->
<footer th:replace="~{home/fragments/layout :: footer}"></footer>
<!--footer area end-->

<!-- JS
============================================ -->

<div th:replace="~{home/fragments/layout :: js}"></div>


</body>

</html>