<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home/fragments/layout :: head('Blog','type','url','site_name','image','description','page')}">
</head>

<body>
<div th:replace="~{home/fragments/layout :: header}"></div>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area breadcrumbs_blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content text-center">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="rss.html">Blog</a></li>
                    </ul>
                    <h3>Write, Share & Discuss <br> Together</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->


<!--<ul>-->
<!--    <li th:each="item : ${items}">-->
<!--        <h3 th:text="${item.title}"></h3>-->
<!--        <p><a th:href="${item.link}" th:text="${item.link}"></a></p>-->
<!--        <p th:text="${item.publishedDate}"></p>-->
<!--        <img th:if="${item.image != null}" th:src="${item.image}" alt="Image" width="200" height="150"/>-->
<!--        <hr>-->
<!--    </li>-->
<!--</ul>-->

<!--<p th:if="${error}" th:text="${error}" style="color: red;"></p>-->

<!--blog page section start-->
<div class="blog_page_section mb-140">
    <div class="container">
        <div class="blog_messonry_button d-flex justify-content-center">
            <button class="active" data-filter="*">all</button>
            <button data-filter=".news">news </button>
            <button data-filter=".products">products </button>
            <button data-filter=".nspiration">nspiration </button>
            <button data-filter=".community">community</button>
            <button data-filter=".others">others</button>
        </div>
        <div class="row blog_page_gallery">
            <div th:each="item : ${items}"  class="col-lg-4 col-md-6 col-sm-6 gird_item nspiration community">
                <article class="single_blog products community">
                    <figure>
                        <div class="blog_thumb">
                            <a th:href="${item.link}" >
                                <img th:if="${item.image != null}" th:src="${item.image}" alt="Image">
                            </a>
                        </div>
                        <figcaption class="blog_content">
                            <div class="blog_meta">
                                <ul class="d-flex">
                                    <li><span class="meta_tag">News</span></li>
                                    <li><span th:text="${item.publishedDate}"></span></li>
                                </ul>
                            </div>
                            <h3 >
                                <a th:href="${item.link}" th:text="${item.title}"></a>
                            </h3>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
        <div class="pagination_style pagination blog_pagination justify-content-center">
            <ul class="d-flex">
                <li><a  class="current" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">>></a></li>
            </ul>
        </div>
    </div>
</div>
<!--blog page section end-->

<!--newsletter section start-->
<section th:replace="~{home/fragments/layout :: newsletter}"></section>
<!--newsletter section end-->

<!--footer area start-->
<footer th:replace="~{home/fragments/layout :: footer}"></footer>
<!--footer area end-->

<!-- JS
============================================ -->

<div th:replace="~{home/fragments/layout :: js}"></div>


</body>

</html>