 <!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

 <head th:replace="~{home/fragments/layout :: head(${title},'website',${curURL},${curURL},${image},${des},'shop')}"></head>


<body>

    <div th:replace="~{home/fragments/layout :: header('shop')}"></div>

    <!--shop  area start-->
    <div class="shop_section shop_reverse">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                   <!--sidebar widget start-->
                    <aside class="sidebar_widget">
                        <div class="widget_inner">
                            <div class="widget_list widget_categories">
                                <h2>Categories</h2>
                                <ul>
                                    <h3>Categories</h3>
                                    <th:block th:each="item : ${parent}">
                                        <li class="widget_sub_categories">
                                            <div class="widget_sub_categories d-flex flex-row row">
                                                <a class="col-10" th:href="@{/categories/{slug}(slug = ${item.getCategorySlug()})}" th:text="${item.getCategoryName()}">footwear</a>
                                                <a class="col-2" href="javascript:void(0)" data-toggle="collapse" th:attrappend="data-target='#C' + ${item.getCategoryId()}" ><i class="icon-right ion-ios-arrow-down"></i></a>
                                            </div>

                                            <ul class="widget_dropdown_categories collapse" th:id="'C'+${item.getCategoryId()}">
                                                <th:block th:each="caterogy : ${categories}">
                                                    <th:block th:if="${caterogy.getParentId() == item.getCategoryId()}">
                                                        <li><a th:href="@{/categories/{slug}(slug = ${caterogy.getCategorySlug()})}" th:text="${caterogy.getCategoryName()}"> New products <span th:text="${caterogy.getProducts().size()}">104</span></a></li>
                                                    </th:block>
                                                </th:block>
                                            </ul>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                            <div class="widget_list widget_filter">
                                <div class="filter__list widget_brands">
                                    <h3 data-toggle="collapse" data-target="#brands">Brands</h3>
                                    <ul class="widget_dropdown_categories collapse show" id="brands">
                                        <th:block th:each="item : ${brands}">
                                            <li><a th:href="@{/brands/{slug}(slug = ${item.getBrandSlug()})}" th:text="${item.getBrandName()}">Ecko Unltd <span th:text="${item.getProducts().size()}">150</span></a></li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget_list">
                                <h2>Recent Product</h2>
                                <div class="recent_product">
                                    <div class="recent_product_list d-flex mb-25">
                                        <div class="recent_thumb">
                                            <a href="product-details.html"><img src="/assets/img/product/product4.jpg" alt=""></a>
                                        </div>
                                        <div class="recent_content">
                                            <h4><a href="product-details.html">Barbour T-shirt <br> International</a></h4>
                                            <span>$32.00</span>
                                        </div>
                                    </div>
                                    <div class="recent_product_list d-flex">
                                        <div class="recent_thumb">
                                            <a href="product-details.html"><img src="/assets/img/product/product6.jpg" alt=""></a>
                                        </div>
                                        <div class="recent_content">
                                            <h4><a href="product-details.html">Barbour T-shirt <br> International</a></h4>
                                            <span>$32.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!--sidebar widget end-->
                </div>
                <div class="col-lg-9 col-md-12">
                    <!--shop wrapper start-->

                    <!--breadcrumbs area start-->
                    <div class="breadcrumb_content">
                        <ul>
<!--                            <li><a href="index.html">home</a></li>-->
<!--                            <li>shop</li>-->
                        </ul>
                    </div>
                    <!--breadcrumbs area end-->

                    <div class="shop_banner d-flex align-items-center" data-bgimg="/assets/img/bg/shop_bg.jpg">
                        <div class="shop_banner_text">
                            <h2>essential <br> wears</h2>
                            <p>The collections basic items <br> essential for all girls</p>
                        </div>
                    </div>
                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper d-flex justify-content-between align-items-center">
                        <div class="page_amount">
                            <p><span th:text="${listProduct.size()}"></span> Products Found</p>
                        </div>
<!--                        <div class=" sorting_by d-flex align-items-center">-->
<!--                            <span>SORT BY :</span>-->
<!--                            <form class="select_option" action="#">-->
<!--                                <select name="orderby" id="short">-->

<!--                                    <option selected value="1">NAME       3</option>-->
<!--                                    <option  value="2">NAME  4</option>-->
<!--                                    <option value="3">NAME  5</option>-->
<!--                                    <option value="4">NAME  6</option>-->
<!--                                    <option value="5">NAME  7</option>-->
<!--                                    <option value="6">NAME  8</option>-->
<!--                                </select>-->
<!--                            </form>-->
<!--                        </div>-->
                        <div class="toolbar_btn_wrapper d-flex align-items-center">
                            <div class="view_btn">
                                <a class="view" href="#">VIEW</a>
                            </div>
                            <div class="shop_toolbar_btn">
                                <ul class="d-flex align-items-center">
                                    <li><a href="#" class="active btn-grid-3" data-role="grid_3" data-tippy="3"  data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-grid"></i></a></li>

                                    <li><a href="#" class="btn-list" data-role="grid_list" data-tippy="List" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-navicon"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <!--shop toolbar end-->
                     <div class="row shop_wrapper">
                         <th:block th:each="item : ${listProduct}">
                             <div class="col-lg-4 col-md-4 col-sm-6 col-6 ">
                                 <div class="single_product">
                                     <div class="product_thumb">
                                         <a th:href="@{'~/san-pham/' + ${item.getProductSlug()}}" >
                                             <img class="primary_img" th:src="${item.getProductThumbnail()}" th:alt="${item.getProductName()}">
                                         </a>
                                         <div class="product_action">
                                             <ul>
                                                 <li class="wishlist"><a href="#" data-tippy="Wishlist" data-tippy-inertia="true" data-tippy-delay="50"
                                                                         data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-heart icons"></i></a></li>

                                                 <li class="quick_view"><a data-toggle="modal" data-target="#modal_box" data-tippy="Quick View" href="#" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-size-fullscreen icons"></i></a></li>
                                                 <li class="compare"><a data-tippy="Compare" href="#" data-tippy-inertia="true" data-tippy-delay="50"
                                                                        data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-refresh icons"></i></a></li>
                                             </ul>
                                         </div>
                                         <div class="product_label">
                                             <th:block th:if="${item.getSaleStatus() == 1}">
                                                 <span th:text="${#numbers.formatDecimal((1 - (item.getProductPriceSale() + 0.0) / item.getProductPrice()) * 100, 1, 0)} + '%'">-18%</span>
                                             </th:block>

                                         </div>
                                     </div>
                                     <div class="product_content grid_content text-center">
                                         <div class="product_ratting">
                                             <ul class="d-flex justify-content-center">
                                                 <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                 <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                 <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                 <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                 <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                 <li><span>(2)</span></li>
                                             </ul>
                                         </div>
                                         <h4 class="product_name"><a th:href="@{'~/san-pham/' + ${item.getProductSlug()}}" th:text="${item.getProductName()}">Basic White Simple Sneaker</a></h4>
                                         <div class="price_box">
                                             <th:block th:if="${item.getSaleStatus() == 1}">
                                                 <span class="current_price" th:text="${#numbers.formatDecimal(item.getProductPriceSale(),3,'COMMA',0,'POINT')} + ' VNĐ'">$43.00</span>
                                                 <span class="old_price" th:text="${#numbers.formatDecimal(item.getProductPrice(),3,'COMMA',0,'POINT')} + ' VNĐ'">$46.00</span>
                                             </th:block>
                                             <th:block th:if="${item.getSaleStatus() != 1}">
                                                 <span class="text-black" th:text="${#numbers.formatDecimal(item.getProductPrice(),3,'COMMA',0,'POINT')} + ' VNĐ'">$46.00</span>
                                             </th:block>
                                         </div>
                                     </div>
                                     <div class="product_list_content">
                                         <h4 class="product_name"><a th:href="@{'~/san-pham/' + ${item.getProductSlug()}}" th:text="${item.getProductName()}">Basic White Simple Sneaker</a></h4>
<!--                                         <p><a href="#">shows</a></p>-->
                                         <div class="price_box">
                                             <th:block th:if="${item.getSaleStatus() == 1}">
                                                 <span class="current_price" th:text="${#numbers.formatDecimal(item.getProductPriceSale(),3,'COMMA',0,'POINT')} + ' VNĐ'">$43.00</span>
                                                 <span class="old_price" th:text="${#numbers.formatDecimal(item.getProductPrice(),3,'COMMA',0,'POINT')} + ' VNĐ'">$46.00</span>
                                             </th:block>
                                             <th:block th:if="${item.getSaleStatus() != 1}">
                                                 <span class="text-black" th:text="${#numbers.formatDecimal(item.getProductPrice(),3,'COMMA',0,'POINT')} + ' VNĐ'">$46.00</span>
                                             </th:block>
                                         </div>
                                         <div class="product_desc">
                                             <p th:text="${item.getProductShortDes()}">Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..</p>
                                         </div>
                                         <div class="add_to_cart">
                                             <a class="btn btn-primary" href="#" data-tippy="Add To Cart"  data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Add To Cart</a>

                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </th:block>
                    </div>
                    <div class="pagination_style pagination justify-content-center">
                        <ul class="d-flex">
                            <th:block th:if="${page != 0}">
                                <th:block th:if="${param.get('q') != null}">
                                    <li><a th:href="@{~/cua-hang(q = ${param.get('q')})}"> << </a></li>
                                    <th:block th:if="${page > 1 }">
                                        <li><a th:href="@{~/cua-hang(q = ${param.get('q')},page = ${page - 1})}"> < </a></li>
                                        <li><a th:href="@{~/cua-hang(q = ${param.get('q')},page = ${page - 1})}" th:text="${page - 1}">1</a></li>
                                    </th:block>
                                    <li><a href="javascript:void(0)" th:text="${page}">1</a></li>
                                    <th:block th:if="${page < pageTotal}">
                                        <li><a th:href="@{~/cua-hang(q = ${param.get('q')},page = ${page + 1})}" th:text="${page+1}">1</a></li>
                                        <li><a th:href="@{~/cua-hang(q = ${param.get('q')},page = ${page + 1})}"> > </a></li>
                                    </th:block>
                                    <li><a th:href="@{~/cua-hang(q = ${param.get('q')},page = ${pageTotal})}">>></a></li>
                                </th:block>
                                <th:block th:unless="${param.get('q') != null}">
                                    <li><a th:href="@{~/cua-hang}"> << </a></li>
                                    <th:block th:if="${page > 1}">
                                        <li><a th:href="@{~/cua-hang(page = ${page - 1})}"> < </a></li>
                                        <li><a th:href="@{~/cua-hang(page = ${page - 1})}" th:text="${page - 1}">1</a></li>
                                    </th:block>
                                    <li><a href="javascript:void(0)" th:text="${page}">1</a></li>
                                    <th:block th:if="${page < pageTotal}">
                                        <li><a th:href="@{~/cua-hang(page = ${page + 1})}" th:text="${page+1}">1</a></li>
                                        <li><a th:href="@{~/cua-hang(page = ${page + 1})}"> > </a></li>
                                    </th:block>
                                    <li><a th:href="@{~/cua-hang(page = ${pageTotal})}">>></a></li>
                                </th:block>
                            </th:block>

                        </ul>
                    </div>
                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
            </div>
        </div>
    </div>
    <!--shop  area end-->

    <!--newsletter section start-->
    <section th:replace="~{home/fragments/layout :: newsletter}"></section>
    <!--newsletter section end-->

    <!--footer area start-->
    <footer th:replace="~{home/fragments/layout :: footer}"></footer>
    <!--footer area end-->

     <!-- modal area start-->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="ion-android-close"></i></span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="modal_zoom_gallery">
                                   <div class="product_zoom_thumb">
                                        <img src="/assets/img/product/big-product/product1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Donec Ac Tempus</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>
                                        <span class="old_price" >$78.99</span>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui,  </p>
                                    </div>
                                    <div class="variants_selects">
                                        <div class="variants_size">
                                           <h2>size</h2>
                                           <select class="select_option">
                                               <option selected value="1">s</option>
                                               <option value="1">m</option>
                                               <option value="1">l</option>
                                               <option value="1">xl</option>
                                               <option value="1">xxl</option>
                                           </select>
                                        </div>
                                        <div class="variants_color">
                                           <h2>color</h2>
                                           <select class="select_option">
                                               <option selected value="1">purple</option>
                                               <option value="1">violet</option>
                                               <option value="1">black</option>
                                               <option value="1">pink</option>
                                               <option value="1">orange</option>
                                           </select>
                                        </div>
                                        <div class="modal_add_to_cart">
                                            <form action="#">
                                                <input min="1" max="100" step="2" value="1" type="number">
                                                <button type="submit">add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal area end-->

<!-- JS
============================================ -->
    <div th:replace="~{home/fragments/layout :: js}"></div>



</body>

</html>
